* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#logo {
    max-width: 100px;
    display: inline-block;
    
}

#services {
    text-align: center;
    margin: 70px 0px 70px 0px;
}

#function {
    padding-top: 120px;
}

#scissors {
    max-width: 610px;
}

#magnifying {
    max-width: 655px;
}

#navbar {
    background-color: white;
    padding: 0px;
    margin-bottom: 0px;
}


.navbar {
    margin-bottom: 0px;
}

.carousel-item img {
    height: 40vp;
}

#tiles {
    margin: 15px 70px 15px 70px;
}

