#logo {
    max-width: 100px;
    
}

#services {
    text-align: center;
    margin: 70px 0px 70px 0px;
}

#function {
    padding-top: 120px;
}

#scissors {
    max-width: 610px;
}

#magnifying {
    max-width: 655px;
}

#navbar {
    background-color: white;
    padding: 0px;
    margin-bottom: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.carousel-inner {
    transition: transform 3s ease, opacity .5s ease-out;
    margin: 20px 0px 30px 0px;

}

#tiles {
    margin: 15px 70px 15px 70px;
}

