#logo {
    max-width: 100px;
    
}

#services {
    text-align: center;
}

#function {
    padding-top: 120px;
}

#scissors {
    max-width: 610px;
}

#magnifying {
    max-width: 655px;
}

#navbar {
    background-color: white;
    padding: 0px;
    margin-bottom: 0px;
}

.navbar {
    margin-bottom: 0px;
}